* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

section {
  margin: 0px;
}
body {
  margin-top: 85px;
  font-family: "Open Sans" !important;
}

body.faq-php {
  background-image: url("../img/bg.jpg");
  background-size: cover;
}

a {
  text-decoration: none !important;
}

a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

/* header starts here */
nav {
  background: white;
  padding: 5px 250px;
  border-bottom: 1px solid #64cf83;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav ul li {
  padding: 15px 0;
  cursor: pointer;
  text-decoration: none;
}

nav ul li.items {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}

nav ul li.items::after {
  position: absolute;
  left: 0;
  bottom: 5px;
  content: "";
  height: 2px;
  width: 100%;
  background: #64cf83;
  opacity: 0;
  transition: all 0.3s linear;
}

nav ul li.items.selected::after {
  position: absolute;
  left: 0;
  bottom: 5px;
  content: "";
  height: 2px;
  width: 100%;
  background: #64cf83;
  transition: all 0.3s linear;
  opacity: 1;
  bottom: 8px;
}

nav ul li.items:hover::after {
  opacity: 1;
  bottom: 8px;
}

nav ul li.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: default;
}

nav ul li.spacer {
  cursor: default;
  flex: 1;
}

nav ul li.logo > div:first-child {
  font-size: 20px;
}

nav ul li.logo > div:nth-child(2) {
  color: #64cf83;
}

nav ul li.logo {
  font-size: 12px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  transition: 0.4s;
}

nav ul li a {
  color: black;
}

nav ul li:hover a {
  color: #64cf83;
}

nav ul li.selected a {
  color: #64cf83;
}

.burger a i {
  font-size: 30px;
  display: none;
}

.burger.hide i:before {
  content: "\f00d";
}

/* header ends here */

/* home starts here */
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  min-width: 400px;
  margin-bottom: 50px;
  text-align: center;
}

.home-title-2 {
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  min-width: 400px;
  margin: 50px 0px;
  text-align: center;
}

.carousel-caption {
  top: 0;
  bottom: 0;
}

.home-section-1 {
  padding: 50px 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  flex-wrap: wrap;
}

.home-section-1-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.home-section-1-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.home-photo {
  width: 60%;
  height: 60%;
}

#carouselExampleDark {
  min-width: 400px !important;
}

.carousel-img {
  height: 300px;
  min-width: 400px;
  width: 100%;
}

.home-section-2 {
  padding: 50px 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #64cf83;
  width: 100%;
}

.home-section-3 {
  padding: 0px 250px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  width: 100%;
  flex-wrap: wrap;
}

.vid {
  width: 560px;
  height: 315px;
}

.flip-card-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  min-width: 400px;
}

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 300px;
  min-width: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 400px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  min-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fa-solid.fa-virus-covid {
  font-size: 100px;
  margin-bottom: 30px;
}

.flip-card-front {
  color: white;
  flex-direction: column;
}

.flip-card-front div {
  font-weight: bold;
  font-size: large;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

.c1.flip-card-back,
.c1.flip-card-front {
  background: #3d989b;
}

.c2.flip-card-back,
.c2.flip-card-front {
  background: #e36e6b;
}

.c3.flip-card-back,
.c3.flip-card-front {
  background: #f7b63c;
}

.c4.flip-card-back,
.c4.flip-card-front {
  background: #132b4f;
}

.c5.flip-card-back,
.c5.flip-card-front {
  background: #3c280b;
}

.flip-card-back li {
  text-align: start;
}

.flip-card-back ul {
  padding: 30px 50px;
}

/* home ends here */

/* footer starts here */
footer {
  padding: 50px 250px;
  height: fit-content;
  width: 100%;
  background-color: #64cf83;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-item {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-item img {
  height: 100px;
  width: 100px;
}

.footer-item img.se-flag {
  margin-top: -20px;
  height: 120px;
  width: 120px;
}

.footer-item img.ma-flag {
  height: 80px;
  margin-bottom: 20px;
  width: 120px;
}
.footer-item-list {
  list-style: none;
}

.footer-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.copyright {
  width: 100%;
  font-weight: bold;
  padding-top: 50px;
  text-align: center;
}

/* footer ends here */

/* faq starts here */
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 250px;
  height: auto;
  width: 100%;
}

.faq-title {
  align-self: center;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  min-width: 400px;
}

.accordion {
  margin-top: 50px;
  width: 100%;
  min-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  background: #64cf83;
}

.accordion_label,
.accordion_content {
  padding: 14px 20px;
}

.accordion_label {
  display: block;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: linear 0.1s;
}

.accordion_label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion_label::after {
  content: "";
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:white;" /></svg>');
  background-size: contain;
  transition: transform 0.5s;
}

.accordion_content {
  display: block;
  line-height: 0;
  padding: 0px;
  background: white;
  overflow: hidden;
  font-size: 0.85em;
  font-weight: normal;
  transition: line-height 0.2s linear;
  color: transparent;
}

.accordion_content a {
  color: transparent;
}

.accordion_input {
  display: none;
}

.accordion_input:checked ~ .accordion_content {
  color: black;
  display: block;
  overflow: hidden;
  padding: 14px 20px;
  line-height: 1.6;
  transition: line-height 0.2s linear;
}

.accordion_input:checked ~ .accordion_content a {
  color: #64cf83;
}

.accordion_input:checked ~ .accordion_label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

.knowmore {
  align-self: center;
  font-weight: bold;
  width: 100%;
  min-width: 400px;
  margin: 50px 0;
}

.knowmore-title {
  margin-bottom: 50px;
  font-size: 25px;
}
.faq-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.faq-form label {
  font-weight: bold;
  padding: 5px 0;
}

.faq-form input {
  min-width: 400px;
  height: 40px;
  margin: 10px 0;
  font-size: 18px;
}

#enquiry {
  height: 300px !important;
  font-size: 18px;
  min-width: 400px;
}

.submit-btn {
  background: #64cf83 !important;
  width: 200px;
  cursor: pointer;
  font-size: large;
  color: white;
  border: 0px;
  border-radius: 5px;
  transition: linear 0.1s;
  height: 40px;
}

.submit-btn:hover {
  background: #5aba76 !important;
}

.red-text {
  color: red;
}
/* faq ends here */

/* steps starts here */
.steps {
  padding: 50px 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.steps-title {
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  min-width: 400px;
  margin-bottom: 50px;
}

.steps-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 400px;
  border-radius: 5px;
  border: 10px solid #64cf83;
}

.steps-content-item {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  padding-right: 30px;
}

.steps-left {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.step-img {
  width: 30%;
  height: auto;
}

.steps-right {
  width: 50%;
}

.steps-right div:first-child {
  font-size: large;
  font-weight: bold;
}

/* steps ends here */

/* vaccination starts here */
.vaccination {
  padding: 50px 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vaccination-title {
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  min-width: 400px;
  margin-bottom: 50px;
}

.vaccination-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 400px;
  border-radius: 5px;
  border: 10px solid #64cf83;
  margin-bottom: 50px;
}

.vac-name {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
.vaccination-content-item {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  padding-right: 30px;
  flex-wrap: wrap;
}

.vaccination-left {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vaccination-left div:first-child {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vaccination-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.vaccination-right ul {
  list-style-type: none;
}

.vaccination-right .list-desc {
  margin-bottom: 20px;
}
.list-title {
  font-weight: bold;
}

.vac-img {
  width: 80%;
  height: 80%;
}
/* vaccination ends here */

/* symptoms starts here */
.symptoms {
  padding: 50px 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.symptoms-title {
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  min-width: 400px;
  margin-bottom: 50px;
}

.symptoms-title-2 {
  font-weight: normal;
  font-size: 15px;
  width: 100%;
}

.symptoms-form {
  width: 100%;
  border-radius: 5px;
  border: 10px solid #64cf83;
  padding: 20px 30px;
  min-width: 400px;
}

.symptoms-form .form-group {
  margin-bottom: 20px;
}

#quest {
  margin-bottom: 5px;
}
/* symptoms ends here */

/* results starts here */
.results {
  padding: 50px 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reveal {
  width: 100%;
  min-width: 400px;
  min-height: 300px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

.reveal-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.reveal-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

i.fa-triangle-exclamation {
  color: #ff3729;
  font-size: 200px;
}

i.fa-circle-exclamation {
  color: #ffc815;
  font-size: 200px;
}

i.fa-square-check {
  color: #2340c4;
  font-size: 200px;
}

.danger {
  background: #f0746b;
}

.serious {
  background: #f3eb7e;
}

.normal {
  background: #96bbf1;
}

.results-title {
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  min-width: 400px;
  margin: 50px 0px;
}

.symptom-img {
  width: 80px;
  height: 80px;
}

/* results ends here */

@media all and (max-width: 1200px) {
  /* header starts here */
  nav {
    padding: 0;
  }

  nav ul {
    position: relative;
  }

  nav ul li.logo {
    width: 100%;
    /* border-bottom: 1px solid #64cf83; */
  }

  .burger a i {
    position: absolute;
    display: inline;
    left: 20px;
    top: 23px;
  }

  nav ul li.spacer {
    flex: 0;
    display: none;
  }

  nav ul li.items {
    width: 100%;
    display: none;
  }

  nav ul li.items.show {
    display: block;
  }

  nav ul li.burger a {
    transition: 0.2s;
  }

  body > nav > ul > li:nth-child(4) {
    margin-top: 15px;
  }

  nav ul li.items:last-child {
    margin-bottom: 15px;
  }

  nav ul li.items:hover {
    box-shadow: 0 0 5px #64cf83, 0 0 10px #64cf83;
  }

  nav ul li.items:hover::after {
    opacity: 0;
  }

  nav ul li.items.selected::after {
    display: none;
  }

  /* header ends here */

  /* footer starts here */
  .footer {
    padding: 50px 100px;
    min-width: 400px;
  }

  .footer-item {
    width: 100%;
    max-width: 300px;
    padding: 25px 25px;
  }
  /* footer ends here */

  /* step starts here  */
  .step-img {
    width: 45%;
    height: auto;
  }
  /* step ends here  */

  /* vaccination starts here  */
  .vaccination-left {
    width: 100%;
  }

  .vaccination-right {
    width: 100%;
    padding: 20px 40px;
  }

  /* vaccination ends here */

  /* results starts here */
  .reveal {
    padding: 30px;
    font-size: 20px;
  }
  .reveal-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .reveal-right {
    width: 100%;
  }

  /* results ends here */

  /* home starts here */
  .home-section-1 {
    row-gap: 50px;
  }

  .vid {
    width: 435px;
    height: 255px;
  }

  .home-section-1-left {
    width: 100%;
  }
  .home-section-1-right {
    width: 100%;
  }

  .home-photo {
    width: 80%;
    height: 80%;
    min-width: 400px;
  }

  .w-100 {
    height: 350px !important;
  }

  .flip-card-container {
    width: 100%;
    margin-bottom: 30px;
  }

  /* home ends here */
}

@media all and (max-width: 500px) {
  /* steps starts here */
  .steps {
    padding: 20px 100px;
  }

  .steps-title,
  .steps-content {
    min-width: 300px;
  }

  .steps-title {
    font-size: 23px;
    margin-bottom: 20px;
  }

  /* steps ends here */

  /* results starts here */
  .results {
    padding: 20px 100px;
  }

  .results-title,
  .reveal {
    min-width: 300px;
  }

  /* results ends here */

  /* symptoms starts here */
  .symptoms {
    padding: 20px 100px;
  }

  .knowmore-title,
  .symptoms-title {
    font-size: 23px;
    margin-bottom: 20px;
  }

  .symptoms-title,
  .symptoms-form {
    min-width: 300px;
  }

  /* symptoms ends here */

  /* vaccination starts here */
  .vaccination {
    padding: 20px 100px;
  }

  .vaccination-title {
    font-size: 23px;
    margin-bottom: 20px;
  }

  .vaccination-title,
  .vaccination-content {
    min-width: 300px;
  }

  /* vaccination ends here */

  /* home starts here */
  .vid {
    width: 300px;
    height: 176px;
  }

  #carouselExampleDark {
    min-width: 300px !important;
  }

  .carousel-img {
    min-width: 300px;
  }

  .home-photo,
  .home-title,
  .home-title-2 {
    min-width: 300px !important;
  }

  .home-section-3,
  .home-section-2,
  .home-section-1 {
    padding: 30px 0px;
  }

  .w-100 {
    height: 350px !important;
  }

  /* home ends here */

  /* faq starts here */
  .faq {
    padding: 20px 100px;
  }

  .flip-card-container {
    column-gap: 0px;
    min-width: 300px;
  }

  .flip-card,
  .flip-card-front,
  .flip-card-back,
  .flip-card-inner,
  .home-title,
  #enquiry,
  .knowmore,
  .accordion,
  .faq-title,
  .faq-form input {
    min-width: 300px;
  }
  .knowmore-title,
  .faq-title {
    font-size: 23px;
  }
  .accordion {
    margin-top: 20px;
    font-size: 12px;
  }
  /* faq ends here */

  .footer {
    width: 100%;
    min-width: 300px;
  }

  .footer-item {
    width: 100%;
    min-width: 300px;
    padding: 25px 25px;
  }
}
